/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  justify-content: center;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroContent {
  align-items: center;
}

.heroText {
  padding: 0em 4em;
}

.heroBanner img {
  height: 12em;
}

.buttons {
  display: flex;
  gap: var(--ifm-spacing-horizontal);
}
