.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  max-width: 100%;
  max-height: 50em;
  float: right;
  border-radius: 1rem;
}

@media screen and (max-width: 996px) {
  .featureImage {
    float: left;
  }
}

.featureText {
  max-width: 25em;
}

.container {
  max-width: 100%;
}
